<?xml version='1.0' encoding='utf-8'?>
<widget id="com.colibri.yerevanparking" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Parking In Yerevan</name>
    <description>Application for parking in Yerevan</description>
    <author email="vahan.grigoryan@gmail.com" href="https://colibrilab.pro">
        ColibriLab
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="file://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <access origin="https://127.0.0.1*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <preference name="useBrowserHistory" value="true" />
    <preference name="exit-on-suspend" value="true" />
    <preference name="disallowOverscroll" value="true" />
    <preference name="loadUrlTimeoutValue" value="60000" />
    <preference name="ShowSplashScreenSpinner" value="false"/>
    <preference name="SplashMaintainAspectRatio" value="true" />

    <platform name="android">
        <preference name="AndroidXEnabled" value="true" />

        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="resources/android/ic_cdv_splashscreen.xml" />

        <icon background="resources/android/mipmap-ldpi/ic_launcher_background.png" density="ldpi" foreground="resources/android/mipmap-ldpi/ic_launcher.png" />
        <icon background="resources/android/mipmap-mdpi/ic_launcher_background.png" density="mdpi" foreground="resources/android/mipmap-mdpi/ic_launcher_foreground.png" />
        <icon background="resources/android/mipmap-hdpi/ic_launcher_background.png" density="hdpi" foreground="resources/android/mipmap-hdpi/ic_launcher_foreground.png" />
        <icon background="resources/android/mipmap-xhdpi/ic_launcher_background.png" density="xhdpi" foreground="resources/android/mipmap-xhdpi/ic_launcher_foreground.png" />
        <icon background="resources/android/mipmap-xxhdpi/ic_launcher_background.png" density="xxhdpi" foreground="resources/android/mipmap-xxhdpi/ic_launcher_foreground.png" />
        <icon background="resources/android/mipmap-xxxhdpi/ic_launcher_background.png" density="xxxhdpi" foreground="resources/android/mipmap-xxxhdpi/ic_launcher_foreground.png" />
        
        <preference name="Fullscreen" value="true" />
        <preference name="AndroidLaunchMode" value="singleInstance"/>

        <resource-file src="resources/google-services.json" target="app/google-services.json" />
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.SEND_SMS"/>
            <uses-permission android:name="android.permission.RECEIVE_SMS" />
            <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
        </config-file>
    </platform>
    <platform name="ios">
        <preference name="scheme" value="app" />
        <preference name="hostname" value="localhost" />

        <icon src="resources/ios/29.png" width="29" height="29" />
        <icon src="resources/ios/40.png" width="40" height="40" />
        <icon src="resources/ios/57.png" width="57" height="57" />
        <icon src="resources/ios/58.png" width="58" height="58" />
        <icon src="resources/ios/60.png" width="60" height="60" />
        <icon src="resources/ios/80.png" width="80" height="80" />
        <icon src="resources/ios/87.png" width="87" height="87" />
        <icon src="resources/ios/114.png" width="114" height="114" />
        <icon src="resources/ios/120.png" width="120" height="120" />
        <icon src="resources/ios/180.png" width="180" height="180" />
        <icon src="resources/ios/1024.png" width="1024" height="1024" />

        <edit-config target="NSLocationWhenInUseUsageDescription" file="*-Info.plist" mode="merge">
            <string>Need location access to find parking place</string>
        </edit-config>
        <edit-config target="NSLocationAlwaysAndWhenInUseUsageDescription" file="*-Info.plist" mode="merge">
            <string>Need location access to find parking place</string>
        </edit-config>
        <edit-config target="NSLocationAlwaysUsageDescription" file="*-Info.plist" mode="merge">
            <string>Need location access to find parking place</string>
        </edit-config>

    </platform>

</widget>
