<?xml version='1.0' encoding='utf-8'?>
<widget id="com.colibri.yerevanparking" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>YerevanParking</name>
    <description>Yerevan Parking Application</description>
    <author email="vahan.grigoryan@gmail.com" href="https://colibrilab.pro">
        ColibriLab
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <access origin="https://127.0.0.1*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <preference name="useBrowserHistory" value="true" />
    <preference name="exit-on-suspend" value="true" />
    <preference name="disallowOverscroll" value="true" />
    <preference name="loadUrlTimeoutValue" value="60000" />
    <preference name="ShowSplashScreenSpinner" value="false"/>
    <preference name="SplashMaintainAspectRatio" value="true" />

    <platform name="android">
        <preference name="AndroidXEnabled" value="true" />

        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="resources/android/ic_cdv_splashscreen.xml" />



        <icon background="resources/android/mipmap-ldpi/ic_launcher_background.png" density="ldpi" foreground="resources/android/mipmap-ldpi/ic_launcher.png" />
        <icon background="resources/android/mipmap-mdpi/ic_launcher_background.png" density="mdpi" foreground="resources/android/mipmap-mdpi/ic_launcher_foreground.png" />
        <icon background="resources/android/mipmap-hdpi/ic_launcher_background.png" density="hdpi" foreground="resources/android/mipmap-hdpi/ic_launcher_foreground.png" />
        <icon background="resources/android/mipmap-xhdpi/ic_launcher_background.png" density="xhdpi" foreground="resources/android/mipmap-xhdpi/ic_launcher_foreground.png" />
        <icon background="resources/android/mipmap-xxhdpi/ic_launcher_background.png" density="xxhdpi" foreground="resources/android/mipmap-xxhdpi/ic_launcher_foreground.png" />
        <icon background="resources/android/mipmap-xxxhdpi/ic_launcher_background.png" density="xxxhdpi" foreground="resources/android/mipmap-xxxhdpi/ic_launcher_foreground.png" />

        <resource-file src="resources/google-services.json" target="app/google-services.json" />
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.SEND_SMS"/>
        </config-file>
    </platform>

</widget>
